--- 
- 
    formatstring: 
        web: '[{distributor}] {title} - {episode_format} [{resolution}].mkv'
    features:
        title: Nisemonogatari
        distributor: HorribleSubs
        resolution: 1080p
        episode_format: '{episode:=02}' # inserts an episode key for the second formatting pass
-
    formatstring:
        web: '[{distributor}] {title} - {episode_format} ({resolution})'
        local: '[{distributor}] {title} - {episode_format} ({resolution}).mkv'
    features:
        title: Rinne no Lagrange
        distributor: Underwater
        resolution: 720p
        episode_format: '{episode:=02}'
- 
    formatstring:
        web: '[{distributor}] {title} {episode_format} [{encoding}]'
    features:
        title: High School DxD
        distributor: Hiryuu
        encoding: 12AT-X 1280x720 H264
        episode_format: '{episode:=02}'
-
    formatstring:
        web: '[{distributor}] {title} - {episode_format} [{resolution}].mkv'
    features:
        title: Moretsu Pirates
        distributor: HorribleSubs
        episode_format: '{episode:=02}'
        resolution: 1080p
