--- 
- 
    formatstring: 
        web: '[{distributor}] {title} - {episode_format} [{resolution}].mkv'
    features:
        title: Nisemonogatari
        distributor: HorribleSubs
        resolution: 1080p
        episode_format: '{episode:=02}' # inserts an episode key for the second formatting pass
